@using BugBustersHR.ENTITY.Concrete;
@model IEnumerable<BugBustersHR.BLL.ViewModels.ExpenditureRequestViewModel.ExpenditureRequestVM>

@{
    ViewData["Title"] = "Expenditure Requests";
}


<body class="g-sidenav-show  bg-gray-200">
    <div class="container-fluid mt-6 px-md-4 d-flex justify-content-end align-items-center">
        <div class="col-10">
            <div class="page-header min-height-300 border-radius-xl" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
                <span class="mask bg-gradient-secondary opacity-6"></span>
            </div>
        </div>
    </div>

    @*Here goes the content withour Navbar*@
    <div class="container-fluid px-2 px-md-4 d-flex justify-content-end align-items-center mt-n12" style="height: 100vh;">
        <div class="col-10 mt-n8">
            <div class="col-12">
                <div class="bg-light card card-body mx-2 mx-md-4 bg-light opacity-9">
                    <div class="col-md-12 d-flex justify-content-center align-items-center">
                        <h2 class="mb-1 mt-4">Expenditure Request List</h2>
                    </div>
                    <div class="card-body mt-5 p-0">
                        <div class="row">
                            <div class="col-md-12 bg-light">
                                <ul class="nav flex-row nav-pills bg-light">
                                    <li class="nav-item">
                                        <a class="nav-link active" asp-area="Manager" asp-controller="Expenditure" asp-action="Index" style="font-weight: bold;">All</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Manager" asp-controller="Expenditure" asp-action="ConfirmedApprovalExpenditure" style="font-weight: bold; color:forestgreen">Confirmed</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Manager" asp-controller="Expenditure" asp-action="WaitingForApprovalExpenditure" style="font-weight: bold; color:orange">Waiting for Approval</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Manager" asp-controller="Expenditure" asp-action="NotConfirmedApprovalExpenditure" style="font-weight: bold; color:darkred">Not Confirmed</a>
                                    </li>
                                </ul>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive m-0 p-0 scrollable-table" style="margin: 0 !important; padding: 0 !important;">
                                    <table class="table table-bordered table-hover">
                                        <thead class="thead-dark sticky-header">
                                            <tr>
                                                <th>Full Name</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Title)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Currency)
                                                </th>
                                                <th>
                                                    Approval Status
                                                </th>
                                                <th>
                                                    Request Date
                                                </th>
                                          @*      <th>
                                                    @Html.DisplayNameFor(model => model.ApprovalDate)
                                                </th>*@
                                                <th>
                                                    Type
                                                </th>
                                                <th>
                                                    Amount
                                                </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {

                                                var companyNames = ((List<Employee>)ViewBag.ManagerComp) /// ViewBag.ManagerComp içindeki veriyi List<Employee> türüne dönüştürüyor.
                                                .Select(emp => emp.CompanyName) // Her bir Employee nesnesinin CompanyName özelliğini seçiyor.
                                                .ToList(); // Elde edilen şirket adlarını bir liste olarak oluşturuyor.

                                                if (companyNames.Contains(item.CompanyName))
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FullName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Title)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Currency)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ApprovalStatusName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.RequestDate)
                                                        </td>
                                                     @*   <td>
                                                            @Html.DisplayFor(modelItem => item.ApprovalDate)
                                                        </td>*@
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TypeName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AmountOfExpenditure)
                                                        </td>
                                                        <td>
                                                            @{
                                                                if (item.ApprovalStatus == null)
                                                                {
                                                                    <a href="/Manager/Expenditure/ExpenditureRefused/@item.Id" class="btn btn-outline-warning">Refuse</a>
                                                                    <a href="/Manager/Expenditure/ExpenditureAccepted/@item.Id" class="btn btn-outline-info">Accept</a>
                                                    

                                                                }
                                                                if (item.ApprovalStatus != null)
                                                                {

                                                                    <h6>Expenditure was evaluated!</h6>

                                                                }
                                                            }

                                                        </td>
                                                    </tr>
                                                }

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-12 bg-light">
                                <hr />
                                <ul class="nav flex-column nav-pills bg-light">
                                    <li class="nav-item mt-2">
                                        <a asp-controller="Default" asp-action="Index" class="btn btn-dark btn-outline-secondary text-lg-center">
                                            <i class="fas fa-home"></i> Home
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
